---
import Pj from "./Pj.astro";
import { projects } from "../utils";

const jira = [
  "Express",
  "MySQL",
  "Prisma",
  "Typescript",
  "React",
  "Redux Toolkit",
  "Tailwind",
];
const ytr = ["NextJS", "Typescript", "Firestore", "Firebase Auth", "ChakraUI"];
const quizu = ["Javascript", "Trivia API", "DOM", "CSS", "ChakraUI"];
---

<section
  id="sw"
  class="sitw w-10/12 max-w-[40rem] lg:max-w-[80rem] 2k:max-w-[100rem] 4k:max-w-[120rem] mx-auto pt-14"
>
  <h2
    class="text-gray-200 text-center tracking-wide font-rubik text-xl md:text-3xl 2k:text-4xl 4k:text-5xl mb-14 2k:mb-20 4k:mb-28"
  >
    Featured projects
  </h2>
  <div class="tablet:gap-6 lg:block">
    {projects.map((props, i) => <Pj {...props} idx={i} />)}
  </div>
</section>
<script>
  import anime from "animejs";
  import Scrollbar from "smooth-scrollbar";
  import { getScreenY } from "../utils";

  const targets = ["#pj-1", "#pj-2", "#pj-3", "#pj-4"];

  // create animation timeline
  const tl = anime.timeline();

  targets.map((id) =>
    tl.add({
      targets: id,
      translateY: 0,
      opacity: 1,
      duration: 1000,
      easing: "easeInOutQuad",
      autoplay: false,
    })
  );

  // play animation once for smoother animation
  tl.seek(tl.duration);

  // animate timeline on scroll
  const scroll = Scrollbar.get(
    document.getElementById("scroll-wrapper") as HTMLElement
  ) as Scrollbar;
  scroll.addListener(() => tl.seek((getScreenY("sw") - 0.15) * tl.duration));
</script>
